body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#FEDA77;
  color: #515BD4 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Nav*/
.costum-nav .collapse{
  justify-content: flex-end;
}

/*LOGIN*/
.login{
  min-height: 100vh;
  align-items:center;
  background: linear-gradient(90deg,
  #FEDA77 0%,
  #DD2A7B 56%,
  #FEDA77 73%
  ) 
}
.login h6{
  margin: top 15px; 
}
.register{
  min-height: 100vh;
  align-items:center;
  background: linear-gradient(90deg,
  #FEDA77 0%,
  #DD2A7B 56%,
  #FEDA77 73%
  ) 
}